<div class="static-content" style="padding:20px 0">
<div class="copy">
<p style="font-size: smaller">
    Tom Crane, <a href="http://digirati.com/">Digirati</a>, March 2017<br/>
This work is licensed under a <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
</p>
    <h2 class="cont">Abstract</h2>
    <p>
        <i>The International Image Interoperability Framework (IIIF, pronounced “triple-eye-eff”) is a set of application programming interfaces (APIs) based on open web standards and defined in specifications derived from shared real world use cases. It is also a community that implements those specifications in software, both server and client. This article provides a non-technical overview of the standards, and the benefits they bring to the sharing of content.</i>
    </p>
</div>
</div>