<div class="ss-generic" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Schlagwortkatalog.jpg/1211px-Schlagwortkatalog.jpg')">

    <div class="copy">
        <h2>Descriptive semantics</h2>
        <p>A library or museum catalogue uses a metadata scheme for information such as
            <i>creator</i> or <i>subject</i>. But we don't need this information to enjoy a library, gallery or museum. We
            don't need to consult the catalogue. We can go and look at things, and curators can arrange things so as to encourage
            us to look at them.</p>
        <p>The records in the catalogue describe the things in the collection. Browsing or searching the records can be easier
            than hunting through books on the shelves. We can find the descriptions of books by a particular author, or descriptions
            of paintings of seascapes. The records comprise the <i>descriptive metadata</i> available for each object. The
            descriptive metadata records are small and easy to share. Machines understand them. When we understand the metadata
            scheme in use, we understand what the things are, just from looking at the records.</p>

        <br /> {{!--
        <cite>
            <a href="https://commons.wikimedia.org/wiki/File%3ASchlagwortkatalog.jpg">
                Image credit: Dr. Marcus Gossler (Own work) [GFDL
                (http://www.gnu.org/copyleft/fdl.html) or
                CC-BY-SA-3.0 (http://creativecommons.org/licenses/by-sa/3.0/)], via Wikimedia
                Commons</a>
        </cite>--}}
    </div>

</div>