<div class="ss-generic" style="background-image: url('assets/img/hazlitt.jpg')">

    <div class="copy">

        <h2>The Human Presentation API</h2>

        <p>The arrangement of books on shelves, and the design and conventions of book covers, are part of our human API for
            interacting with the world.</p>

        <p>When we find a particular book in a library or look at a painting in a gallery, we don’t need to consult a metadata
            standard to understand what the text and images on the book cover or on a gallery label mean. It’s part of our
            shared cultural understanding of the world. We know the publisher, title and author of this book by looking at
            the “metadata” on the cover; we can pick it up and read it. If we're looking at a painting or a sculpture, the
            descriptive metadata might help us understand it better, but we never confuse the description with the object
            itself.
        </p>

        <p>
            <img src="assets/img/hazlitt.jpg" class="img-center" style="max-width:600px" />
            <cite>Image: author photo</cite>
            <img src="https://s-media-cache-ak0.pinimg.com/736x/f4/f9/de/f4f9de9d8413946c91a97c98beba759a.jpg" class="img-center" alt="Tilda Swinton, the Maybe"
                style="max-width:600px" />
            <cite>From <a href="https://uk.pinterest.com/livingpractice/tilda-swinton/">https://uk.pinterest.com/livingpractice/tilda-swinton/</a></cite>
        </p>

        <p>We know how the strings of text presented to us on the gallery label relate to what we can see in front of us. We
            don't need a guide or a key to interpret the label.</p>

        <p>Just as the descriptive semantics in the records influence the presentation of the material in a physical space,
            we can use the metadata to drive navigation online. On the web, we have the ability to shelve a book in many
            different places at once, so a descriptive metadata scheme gives us powerful tools for exploration. Descriptive
            semantics inform the collection of books on shelves, the ink-on-paper of a book cover, the labelling of an exhibit
            or the information architecture of a web site.</p>

        <p>These are all perhaps statements of the obvious. We don’t have to consult catalogue metadata to browse, read or view
            a physical book or painting, or write an essay about it. The Human Presentation API is our cultural awareness
            of what book covers and gallery labels mean. Which way up to hold a book, whether to start at the back or the
            front, how to turn the pages, how to interpret a table of contents and navigate to a chapter, how to use an index.
            We don't need a guide for this part.</p>
    </div>

</div>