<div class="static-content">
<div class="copy">

    <h2>Descriptive semantics give us pathways</h2>
    <p>Just as the descriptive semantics on the cards influence the presentation of the
        material in a physical space, we can use the metadata to drive navigation. On the
        web, we have the ability to shelve a book in many different places at once, so
        descriptive metadata gives us powerful tools for exploration. Descriptive semantics
        inform the collection of books on shelves, the ink-on-paper of a book cover, the
        labelling of an exhibit or the information architecture of a web site.</p>

    <img class="img-center" src="assets/img/alpha.png" alt="alpha" />
    <br /><cite>TODO</cite>

    <p>These are all perhaps statements of the obvious. I don’t have to consult catalogue
        metadata to browse, read or view a physical book or painting, or write an essay
        about it. The Human Presentation API is my cultural awareness of what book covers
        and gallery labels mean. Which way up to hold a book, whether to start at the back
        or the front, how to turn the pages, how to interpret a table of contents and
        navigate to a chapter, how to use an index.</p>
</div>
</div>