<div class="ss-generic" style="background-image: url('assets/img/bodleian.jpg')">

    <div class="copy">

    <h2>Digital surrogate</h2>
    <p>I still have my cultural awareness when looking at a digital surrogate on screen. But
        the computer needs assistance in presenting that digital surrogate to me and
        allowing me to interact with it. The process needs to be assisted by metadata to get
        the right pixels on the screen in the right place, so that my human cultural
        awareness can take over again. If I'm viewing things over the web, the machines and
        software involved need help to let me interact with the object.</p>

    <p>People have been putting digital surrogates online since the start of the web. A
        digitisation project is accompanied by development of a web site to show that
        collection. Maybe some work is done to make a nice viewer - a page-turner or other
        client application to read books, present multiple views of a statue or artwork, or
        similar. Some projects have made use of deep zoom technologies and formats like
        Zoomify and Seadragon DZI, and invested in Image Server technology. When the funding
        for one project finishes, the best that can be hoped for it that it remains online,
        albeit in its own silo of probably non-interoperable content. Formats and
        technologies ossify and become obsolete (there are digitised collections trapped in
        Flash viewers). And even when the technologies are still current, the online
        presentation part of most completed digitisation projects often did not consider how
        others might later re-use or consume that content. They did not consider
        interoperability other than that afforded by the web itself, at the level of web
        pages and images. We need something more formal and specific to convey the complex
        structure of a digitised book or sequence of images. New projects created new
        formats without really thinking about it. The description of a digital object for
        consumption in a viewer is a problem that has been addressed again and again for
        project after project.</p>

    <p>For anyone trying to use the accumulated wealth of digitised resources from around
        the world, whether for research or personal interest, the lack of standardisation
        means that each digitised collection needs to be worked with on its own terms. While
        this is necessary and even desirable for descriptive metadata, it does nothing for
        the content itself. There has been no standardised way of referring to a page of a
        book, or a sentence in a handwritten letter, from one digitised collection to the
        next. The Descriptive Metadata doesn’t let us refer to parts of the work, down to
        the tiniest detail - interesting marginalia, a single word on a page - and make
        statements about those parts in the web of linked data.</p>



    </div>
</div>
