<div class="ss-generic" style="background-image: url('assets/img/bodleian.jpg')">

    <div class="copy">

        <h2>Digital surrogate</h2>
        <p>We still have our cultural awareness when looking at a digital surrogate on screen. But the computer needs assistance
            in presenting that digital surrogate and allowing us to interact with it. The process needs to be assisted by
            metadata to get the right pixels on the screen in the right place, so that our human cultural awareness can take
            over again. When viewing things over the web, the machines and software involved need help to let us interact
            with the object.</p>

        <p>For years, institutions have been building and buying image servers, image viewers, page turners, discovery applications, learning
            environments and annotation tools to make their content accessible to the world, and to let the world interact
            with it. Many wonderful software tools have been made, and many beautiful websites enjoyed by scholars and the
            interested public.</p>

        <p>A digitisation project gets some funding. Some of that pays for the development of a web site to show that collection. 
            Maybe some work is done
            to make a nice viewer - a page-turner or other client application to read books, present multiple views of a
            statue or artwork, or similar. Some projects have made use of deep zoom technologies and formats like Zoomify
            and Seadragon DZI, and invested in Image Server technology. When the funding for a project finishes, the best
            that can be hoped for it that it remains online, albeit in its own silo of probably non-interoperable content.
            Formats and technologies ossify and become obsolete. And even when the technologies are still current, there
            may have been little consideration of how others might later re-use or consume that content. There may be no
            interoperability other than that afforded by the web itself, at the level of web pages and images. We need something
            more formal and specific to convey the complex structure of a digitised book or sequence of images, and the description
            of a digital object for consumption in a viewer is a problem that has been addressed again and again for project
            after project. The same use cases reappear with different, incompatible solutions.</p>

        <p>For anyone trying to use the accumulated wealth of digitised resources from around the world, whether for research
            or personal interest, the lack of standardisation has meant that each digitised collection needs to be worked
            with on its own terms. One institution’s image delivery is not compatible with another's. The same problems are
            solved over and over again in different silos of non-interoperable content.
        </p>
        <p>While a multitude of different standards and practices are expected and even desirable for descriptive metadata,
            they do nothing for the content itself. There has been no standardised way of referring to a page of a book,
            or a sentence in a handwritten letter, from one digitised collection to the next. Descriptive metadata standards
            don't help us. It is not their job to enable us to refer to parts of the work, down to the tiniest detail - interesting
            marginalia, a single word on a page - and make statements about those parts in the web of linked data. It is not
            their job to <i>present content</i>, or share it, or refer to it.</p>



    </div>
</div>
