<div class="static-content static-content--{{type}}" >
<!-- style="background-image: url('assets/img/crm.png')" -->

    <div class="copy">
    <h2>We need a standard!</h2>
    <p>Obviously, a standardised way of describing a digital surrogate would be
        beneficial. It would mean that my content has a better chance of a longer life,
        it would mean that I could benefit from the software development efforts of
        others by adopting shared formats. Server software to generate the
        representations and client software to view it need not be reinvented for every
        project. It would be good if my digitised books worked in your viewer, and yours
        worked in my viewer, and we could both have the option of picking off-the-shelf
        viewers as well as building our own. And much more than that - making our
        digital surrogates interoperable allows others to reuse them in ways we haven't
        thought of. We need a model for describing digital representations of objects
        and a format for software - viewing tools, annotation clients, web sites - to
        consume and render the objects and the statements made about them, by us and
        others. The model needs to be rich enough to accomodate composition of all kinds
        of web resources to enhance, describe and annotate the objects.</p>

    <p>A hypothetical effort at standardisation might go along these lines:</p>

    <ul>
        <li>"So many standards to choose from"</li>
        <li>"And we can always make more!!!"</li>
        <li>"OK, we need to have the pages in the right order"</li>
        <li>"And structure to drive navigation within the book"</li>
        <li>"And metadata to describe the pagination, reading direction"</li>
        <li>"And we want deep zoom images"</li>
        <li>"And we need metadata to show all the things that the user needs to see"
        </li>
        <li>"Like the title and the author and what it’s about"</li>
        <li>"And which of our collections it’s in"</li>
        <li>"And the material, the curator wants the binding material in the model"</li>
        <li>"Does a painting have an author?"</li>
        <li>"Hang on, this problem has been solved already"</li>
        <li>"Let’s have a look at mappings to cool things like CIDOC-CRM..."</li>
    </ul>

    <p>
        This process seemed to start out really well, and progress was made on the
        requirements for an interoperable standard. But it started geting complex quite
        quickly, as all the different ways of describing objects begain to bear down on
        the emerging model. Questions like <i>"does a painting have an author"</i> don't
        concern us when we are looking at a painting. We don't need to accomodate that
        kind of question in our human Presentation API. They only get raised when we're
        talking about what to put in the catalogue records, when we implement a
        descriptive schema. In the above discussion, the participants are sometimes
        talking about the actual objects, and sometimes talking about descriptive
        metadata about the objects.</p>
</div>
</div>