<div class="static-content">
    <div class="copy">
        <h2>Exploring more</h2>
        <p>
            The <a href="https://iiif.io/" target="_blank">iiif.io</a> web site is the place to go 
            for the API specifications and news about the community, and how to get involved.<br/>
            There is also the <a href="https://github.com/IIIF/awesome-iiif" target="_blank">awesome-iiif</a> list,
            a community-maintained collection of useful/fun/curious IIIF-related writing, software and implementations.            
        </p>
        The 
    </div>
</div>
