<div class="static-content">
<div class="copy">
    <h2>Abstract</h2>
    <p>
        <i>Where my model</i>
    </p>

      <ul>
        <li>Wherever you need to present an object or collection of objects, use the Presentation API</li>
        <li>All IIIF resources can link to a semantic description of themselves (the card in the cabinet) via the seeAlso property</li>
        <li>This is where the IIIF resources (interoperable, things used to put pixels in front of eyes) connect to your semantic model of the things</li>
        <li>If you are modelling abstract concepts or processes, you don’t need IIIF. There’s nothing to look at (or hear).</li>
        <li>If you have things that can be looked at (and most GLAMs do…), then looking at them via HTTP is what IIIF is for</li>
        <li>Interoperability goes without saying for the actual objects. It’s part of being human in culture.</li>
        <li>Interoperability for their digital surrogates is enabled by IIIF Manifests and Collections</li>
      </ul>

</div>
</div>