<div class="ss-generic"
        style="background-image: url('assets/build/img/content/illustrations/play.png')">

    <div class="copy copy--left">

        <div class="left">
            <h2>Descriptive semantics</h2>
            <p>A library or museum catalogue uses a metadata schema to capture information such as
                <i>creator</i> or <i>subject</i>. But it is not a requirement for enjoying a library,
                gallery or
                museum that we consult the catalogue first. We can go and look at things, and the
                curators
                of
                the content can arrange the things so as to encourage us to look at them.</p>
            <p>The records in the catalogue describe the things in the collection. Browsing or searching
                the
                records can be easier than hunting through books on the shelves. We can find the
                descriptions of
                books by a particular author, or descriptions of paintings of seascapes. The records
                comprise
                the <i>descriptive metadata</i> available for each object. The descriptive metadata
                records
                are
                small and easy to share. First on cards, then microfiche, then electronic records.</p>

            <!--<img width="512" alt="Schlagwortkatalog"-->
            <!--src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Schlagwortkatalog.jpg/512px-Schlagwortkatalog.jpg" />-->
            <br />
            <cite>
                <a href="https://commons.wikimedia.org/wiki/File%3ASchlagwortkatalog.jpg">
                    Image credit: Dr. Marcus Gossler (Own work) [GFDL
                    (http://www.gnu.org/copyleft/fdl.html) or
                    CC-BY-SA-3.0 (http://creativecommons.org/licenses/by-sa/3.0/)], via Wikimedia
                    Commons</a>
            </cite>
        </div>
        <div class="right">
            <img alt="Schlagwortkatalog"
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Schlagwortkatalog.jpg/512px-Schlagwortkatalog.jpg" />
        </div>
        
        
    </div>

</div>