<div class="static-content">
<div class="copy">
    <h2>More IIIF stories</h2>
    <p>But where's my model? IIIF and the rest of the world</p>
    <p>...</p>
</div>
</div>
<div class="static-content static-content--green">
    <div class="copy">
        <h2>More IIIF stories</h2>
        <p>But where's my model? IIIF and the rest of the world</p>
        <p>...</p>
    </div>
</div>
<div class="static-content static-content--light-grey">
    <div class="copy">
        <h2>More IIIF stories</h2>
        <p>But where's my model? IIIF and the rest of the world</p>
        <p>...</p>
    </div>
</div>