<div class="static-content static-content--{{type}}">
    <div class="copy">
        <h2>More IIIF stories</h2>
        <p>But where's my model? IIIF and the rest of the world</p>
        <p>...</p>
        
        
        
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Schlagwortkatalog.jpg/512px-Schlagwortkatalog.jpg" class="img-center" />
        
        <br />
        <br />
        
        
    </div>
</div>