<div class="static-content static-content--green">
<div class="copy">
    <h2>Other articles in this series</h2>
    <ol>
        <li><a href="index.html">An Introduction to IIIF</a> <i>next week</i></li>
        <li>But where's my model? IIIF and your metadata</li>
        <li><a href="annotations.html">Annotations - a two way conversation</a> <i>coming soon</i></li>
        <li><a href="search-discovery.html">Search and Discovery</a> <i>coming soon</i></li>
        <li><a href="av-and-beyond.html">AV and beyond</a> <i>coming soon</i></li>
    </ol>
</div>
</div>