<div class="static-content static-content--green">
<div class="copy">
    <h2>Other articles in this series</h2>
    <ol>
        <li>An Introduction to IIIF</li>
        <li><a href="wheres-my-model.html">But where's my model? IIIF and your metadata</a></li>
        <li><a href="annotations.html">Annotations: How IIIF resources get their content</a></li>
        <li><a href="search-discovery.html">Search and Discovery</a> <i>coming soon</i></li>
        <li><a href="av-and-beyond.html">AV and beyond</a> <i>coming soon</i></li>
    </ol>
    {{> 'digirati-links' }}
</div>
</div>