<div class="ss-generic parallax" data-velocity=".1" 
        style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Photograph%3B_the_Wellcome_Institute_Library%2C_1983_Wellcome_L0015799.jpg/512px-Photograph%3B_the_Wellcome_Institute_Library%2C_1983_Wellcome_L0015799.jpg')">

    <div class="copy">

        

        <h2>Presentation semantics</h2>
        <p>The descriptive scheme provided by metadata is also used in the library to present the real objects to us. Books might be shelved by subject, and then by author. A decision has been made about collecting things together to make it easy for us to find them in a physical space. Conventionally, that decision is driven by a metadata schema. There is usually some relationship between the arrangement of items on view (and in storage), and the model that the metadata schema uses to describe the world.</p>


        <p>In an exhibtion space, that arrangement may be partly or entirely unconnected to a formal metadata schema, but there has still been a decision made about how objects relate to each other and how they are aggregated in collections for people to look at or interact with.</p>


        <!--<img width="512" alt="Photograph; the Wellcome Institute Library, 1983 Wellcome L0015799"-->
        <!--src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Photograph%3B_the_Wellcome_Institute_Library%2C_1983_Wellcome_L0015799.jpg/512px-Photograph%3B_the_Wellcome_Institute_Library%2C_1983_Wellcome_L0015799.jpg"/>-->
        <br/><cite><a href="https://commons.wikimedia.org/wiki/File%3APhotograph%3B_the_Wellcome_Institute_Library%2C_1983_Wellcome_L0015799.jpg">
        Photograph; the Wellcome Institute Library, 1983 Wellcome L0015799 See page for author [CC BY 4.0 (http://creativecommons.org/licenses/by/4.0)], via Wikimedia Commons</a></cite>





    </div>

</div>