<div class="ss-title">
    <div class="parallax" data-velocity=".5" data-fit="-230"
            style="opacity: .2; height: 400px; background-image: url('assets/build/img/content/illustrations/about-hero.png')"></div>
   
   <div class="text"> <h1>An Introduction to IIIF</h1></div>
</div>