{{#if title}}
  <div class="c-article-header">
    <h1 class="c-article-header__title">{{title}}</h1>
    {{#if sub-title}}
    <strong class="c-article-header__sub-title">{{sub-title}}</strong>
    {{/if}}
  </div>
{{/if}}
