<div class="baseline-grid">
  <div class="guide"></div>
  <div class="guide"></div>
  <div class="guide"></div>
  <div class="guide"></div>
  <div class="guide"></div>
  <div class="guide"></div>
  <div class="guide"></div>
  <div class="guide"></div>
</div>
