<div class="c-call-to-action">
  <h2 class="c-call-to-action__title">{{title}}</h2>
  <div class="c-call-to-action__inner">
    <div class="c-call-to-action__content">
      {{{text}}}
      <a class="btn" href="{{button.link}}">{{button.text}}</a>
    </div>
    <div class="c-call-to-action__image-wrapper">
      {{> image image class="c-call-to-action__image"}}
    </div>
  </div>
</div>
