<div class="c-device-preview">
  <div class="c-device-preview__desktop-wrapper">
    {{>image desktop-image class="c-device-preview__image"}}
  </div>
  <div class="c-device-preview__mobile-wrapper">
    {{>image mobile-image class="c-device-preview__image"}}
  </div>
</div>
