<section class="c-promo">
  <h2 class="c-promo__heading">{{title}}</h2>
  <div class="c-promo__image-wrapper">
    {{>image image}}
  </div>
  <div class="c-promo__body">
    <p class="c-promo__text">{{text}}</p>
    {{>link-button link}}
  </div>
</section>
