<ul class="c-social">
  <li class="c-social__item">
    <a class="c-social__link c-social__link--linkedin" href="http://www.linkedin.com" target="_blank">
      Connect with us on LinkedIn
      <span class="c-social__image">
        {{> svg icon="linked-in"}}
      </span>
    </a>
  </li>
  <li class="c-social__item">
    <a class="c-social__link c-social__link--twitter" href="https://twitter.com/digirati_uk" target="_blank">
      Connect with us on Twitter
      <span class="c-social__image">
        {{> svg icon="twitter"}}
      </span>
    </a>
  </li>
</ul>
