$left-column-padding-large: 80px;
$left-column-padding-med: 60px;
$left-column-padding-small: 20px;

$mobile-big: em(560);
$tablet: em(880);
$tablet-max: em(879);
$desktop-small: em(962);
$desktop-medium: em(1024);
$desktop-medium-max: em(1023);
$navigation-shift: em(1072);
$desktop-large: em(1280);
$desktop-very-large: em(1600);
$desktop-huge: em(1920);
$team-member-colummns: $desktop-small;
$team-member-font-change: $navigation-shift;
$mobile-navigation-columns-max: em(415);
$mobile-nabigation-font-change: em(600);
