// Primary colour declarations
// - Direct mappings of variable names to colour values
$white:     #fff;
$black:     #000;
$green:     #00d0b8;
$lightgrey: #eee;
$darkgrey:  #999;

// Secondary colour declarations
// - Mapping of features to colour names
