cite {font-size: xx-small}

.canvas {
    border: 1px solid #999;
    width:100px;
    height:150px;
    margin:10px;    
}

.ablock {

}

#imgApiUrl {
    border:1px solid #aaa;
    padding:4px;
    margin:5px;
}

.thumbset {
    border: 1px solid cornflowerblue;
    padding:20px;
    margin-bottom: 25px;

}

.thumbset img {
    padding:8px;
    width:80px;
}

h2.cont {
    margin-top: 36px;
    margin-top: 2rem;
    margin-bottom: 8px;
    margin-bottom: 0.6rem;
}

.spectable td {
    min-width:120px;
    padding: 6px 0px 4px 12px;
}

.spectable {
    margin-bottom: 15px;
}

.label {
    font-style: italic;
}

.chars {
    font-family: monospace;
}