@mixin button-style {
  background: none;
  border: 1px solid $black;
}

@mixin hidden {
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}

@mixin unhidden {
  height: auto;
  left: auto;
  overflow: visible;
  position: static;
  top: auto;
  width: auto;
}

@mixin list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin column-inner {
  box-sizing: content-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 57.75rem;
  padding-left: $left-column-padding-small;
  padding-right: $left-column-padding-small;

  @media(min-width: $tablet) {
    padding-left: $left-column-padding-med;
    padding-right: $left-column-padding-med;
  }
}

@mixin clearfix {
  &:after {
    clear: both;
    content: "";
    display: table;
  }
}

@mixin grayscale {
  // scss-lint:disable DuplicateProperty, ColorKeyword, ColorVariable
  backface-visibility: hidden;
  filter: grayscale(1);
  filter: gray;
  transition: filter .3s ease-in;
  // scss-lint:enable DuplicateProperty, ColorKeyword, ColorVariable
}

@mixin disable-grayscale($image-selector) {
  #{$image-selector} {
    // scss-lint:disable DuplicateProperty
    filter: grayscale(0);
    filter: none;
    // scss-lint:enable DuplicateProperty
  }

  .grayscale-fallback__svg {
    opacity: 0;
  }
}

@mixin unstyled-list($child) {
  @include list-reset;
  margin-bottom: rem(26px);

  #{$child} {
    margin-bottom: rem(8px);
    padding-left: 0;

    &:before {
      display: none;
    }
  }
}

@mixin content-module-margin {
  margin-bottom: rem($content-section-bottom-mobile);

  @media (min-width: $tablet) {
    margin-bottom: rem($content-section-bottom-tablet);
  }
}

@mixin hide-breaks-mobile {
  @media(max-width: $tablet-max) {
    br {
      display: none;
    }
  }
}
